#stepsForm{
    margin-top: 0px !important;
    border-radius: 0px !important;
    border: none !important;
}
#stepsForm .card-header{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px !important;
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.jumbotron {
    background-color: #009FD6;
    background-size: cover;
    background-position: center center;
    border-radius: 0px;
    color: #FFFFFF;
}
.img-thumbnail{
    border: none !important;
}
.card-header{
    border-radius: 0px !important;
}
