<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    Options +FollowSymLinks
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    #Rewrite to www
    RewriteCond %{HTTP_HOST} ^localhost:8000[nc]
    RewriteRule ^(.*)$ http://www.localhost:8000/$1 [r=301,nc]

    #301 Redirect Old File
    Redirect 301 /trucks http://localhost:8000

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Remove index.php
    RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
    RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

    <FilesMatch "\.(ttf|ttc|otf|eot|woff?|font.css|css)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>

    RewriteRule ^autos/(.*)$ /autos.php [NC,L]
    RewriteRule ^autos$ /autos/$1 [L]
</IfModule>
