label.caw_admin {
	display:block;
	width:100px;
	float:left;
	height:30px;
	line-height: 30px;
}

.alert {
    padding: 5px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top:20px;
    width: 430px
}

	.alert-danger {
	    color: #a94442;
	    background-color: #f2dede;
	    border-color: #ebccd1;
	}

	.alert-success {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	}